<div class="container">

  <!-- Portfolio Filter start-->

  <div class="row">
    <div class="col-sm-12 text-center">
      <ul id="filter" class="filters-group">
        <li class="active" data-group="all">All</li>
        <li data-group="slideshow">Slideshow</li>
        <li data-group="video">Video</li>
        <li data-group="image">Image</li>
      </ul>
    </div>
  </div><!-- .row -->

  <!-- Portfolio Filter end -->

</div><!-- .container -->


<div class="col-md-12 grid">

  <div class="col-md-4 grid-item" data-groups="all slideshow image">
    <a href="assets/images/portfolio.jpg" class="gallery" title="Caption">
      <div class="image-wrapper">
        <img src="assets/images/portfolio.jpg" alt="">
        <div class="item-caption">
          <h2 class="caption-title">Hand</h2>
          <div class="caption-category">Slideshow, Image</div>
        </div>
      </div>
    </a>
  </div>

  <div class="col-md-4 grid-item" data-groups="all image video">
    <a href="assets/images/portfolio.jpg" class="gallery" title="Caption">
      <div class="image-wrapper">
        <img src="assets/images/portfolio.jpg" alt="">
        <div class="item-caption">
          <h2 class="caption-title">Bicycles</h2>
          <div class="caption-category">Image, Video</div>
        </div>
      </div>
    </a>
  </div>

  <div class="col-md-4 grid-item" data-groups="all video slideshow">
    <a href="assets/images/portfolio.jpg" class="gallery" title="Caption">
      <div class="image-wrapper">
        <img src="assets/images/portfolio.jpg" alt="">
        <div class="item-caption">
          <h2 class="caption-title">Clothing Mockup</h2>
          <div class="caption-category">Video, Slideshow</div>
        </div>
      </div>
    </a>
  </div>

  <div class="col-md-4 grid-item" data-groups="all slideshow">
    <a href="assets/images/portfolio.jpg" class="gallery" title="Caption">
      <div class="image-wrapper">
        <img src="assets/images/portfolio.jpg" alt="">
        <div class="item-caption">
          <h2 class="caption-title">Vinyl</h2>
          <div class="caption-category">Slideshow</div>
        </div>
      </div>
    </a>
  </div>

  <div class="col-md-4 grid-item" data-groups="all image">
    <a href="assets/images/portfolio.jpg" class="gallery" title="Caption">
      <div class="image-wrapper">
        <img src="assets/images/portfolio.jpg" alt="">
        <div class="item-caption">
          <h2 class="caption-title">Doctor</h2>
          <div class="caption-category">Image</div>
        </div>
      </div>
    </a>
  </div>

  <div class="col-md-4 grid-item" data-groups="all video">
    <a href="assets/images/portfolio.jpg" class="gallery" title="Caption">
      <div class="image-wrapper">
        <img src="assets/images/portfolio.jpg" alt="">
        <div class="item-caption">
          <h2 class="caption-title">Popcorn</h2>
          <div class="caption-category">Video</div>
        </div>
      </div>
    </a>
  </div>

</div><!-- .projects-container -->
