<div class="row">
  <div class="col-sm-6">
    <div class="iconbox equal-height">
      <div class="iconbox-icon"><span class="icon-bulb"></span></div>
      <div class="iconbox-text">
        <h3 class="iconbox-title">Development</h3>
        <div class="iconbox-desc">
          The European languages are members of the same family. Their separate existence is a myth. For science, music, sport, etc, Europe uses the same vocabulary.
        </div>
      </div>
    </div>
  </div>

  <div class="col-sm-6">
    <div class="iconbox equal-height">
      <div class="iconbox-icon"><span class="icon-camera"></span></div>
      <div class="iconbox-text">
        <h3 class="iconbox-title">Photography</h3>
        <div class="iconbox-desc">
          The European languages are members of the same family. Their separate existence is a myth. For science, music, sport, etc, Europe uses the same vocabulary.
        </div>
      </div>
    </div>
  </div>
</div><!-- .row -->

