<!-- Navigation start -->
<nav class="navbar navbar-custom navbar-fixed-top" role="navigation">

  <div class="container">

    <ul class="col-md-4 nav navbar-nav hidden-sm hidden-xs">
      <li ng-repeat="item in leftMenu" class="page-scroll"><a  scroll-to="{{item.title}}">{{item.title}}</a></li>
    </ul>


    <div class="col-md-4 navbar-header">
      <a class="navbar-brand col-md-offset-3" href="#/home"> <img width="150" src="assets/images/itechdom.png" />  </a>
    </div>


      <ul class="col-md-4 nav navbar-nav hidden-sm hidden-xs">
        <li ng-repeat="item in rightMenu" class="page-scroll"><a scroll-to="{{item.title}}">{{item.title}}</a></li>
      </ul>



  </div><!-- .container -->


  <nav class="text-center col-sm-12 hidden-lg hidden-md">
    <accordion>
      <accordion-group>
      <accordion-heading>Menu</accordion-heading>
              <ul class="col-sm-12">
                <li  ng-repeat="item in leftMenu" class="page-scroll"><a scroll-to="{{item.title}}">{{item.title}}</a></li>
                <li  ng-repeat="item in rightMenu" class="page-scroll"><a scroll-to="{{item.title}}">{{item.title}}</a></li>
              </ul>
      </accordion-group>
    </accordion>
  </nav>​




</nav>
